/**
* SCSS for: admin/settings/views/lms-evals-section.php.
*
*/

#chsie_data_display_lms_evals_section {

    .documentation {
        display: inline-block;
        vertical-align: top;
        padding-right: 24px;
        border-right: 1px solid #444444;

        @media screen and ( min-width: 1141px  ) {
            width: 42%;
        }

        p:first-of-type {
            margin-top: 0;
        }

        p {}
    }

    .form-table {
        display: inline-block;
        vertical-align: top;
        margin-top: 36px;

        @media screen and ( min-width: 1141px  ) {
            padding-left: 24px;
            margin-top: 0;
            width: 50%;
        }

        h3 {
            margin: 0;
        }

        th {
            width: 140px;
        }

        td p {
            margin-left: 24px;
            font-style: italic;
        }

        label {
            font-weight: 600;
        }

        input[type=radio] {
            margin-top: 0;
        }

        input.custom-text {
            display: none;
            margin-left: 23px;
            margin-top: 5px;
            width: 100%;
        }

        ul {
            margin-top: 6px;

            li {
                margin-bottom: 16px;
            }

        }

        p.submit {
            text-align: right;
        }


    }



}
