/**
* SCSS for: admin/settings-ajax/data-display.php.
*
*/



#cdd-data-table {

    table {

        thead {
            text-align: left;
        }

        tbody td {
            padding-left: 20px;
        }
    }
}





#chsie_data_display_data_section input[type="radio"] {
    margin-top: 2px;
}

#chsie_data_display_data_section input[type="text"] {
    margin: 10px 0 3px 23px;
    width: 100%;
}

#chsie_data_display_data_section .form-table td p {
    margin-left: 24px;
    font-style: italic;
}

#chsie_data_display_data_section label {
    font-weight: 600;
}

#chsie_data_display_data_section li {
    margin-bottom: 16px;
}
